PORT= # PORT for server

MONGODB_USER= #user name 
MONGODB_PASSWORD= # user password
MONGODB_URL= # url 
MONGODB_DB= # data base name

#дані для скидання пароля
SMTP_HOST= 
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=

JWT_SECRET=

APP_DOMAIN=

CLOUD_NAME=
API_KEY=
API_SECRET=
ENABLE_CLOUDINARY=